# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan
tfplan

# Local variable values
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log
crash.*.log

# CLI configuration
.terraformrc
terraform.rc

# OS/editor files
.DS_Store
Thumbs.db

local-state-backup.json